name: Android CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
    - name: Grant gradle execute permission
      run: chmod +x gradlew
    - name: KtLint
      run: ./gradlew ktlintCheck
    - name: Lint
      run: ./gradlew lint
    - name: Unit test
      run: ./gradlew test
    - name: Build APK
      run: ./gradlew assembleDebug